
<div style="border-bottom: 1px solid #ededed;" class="layout">
    <div class="logo"><a href="/" title="TPshop"><img src="<?php echo IMG_URL;?>newLogo.png" alt="TPshop"></a></div>
</div>
<div class="register_box box_bg common_box" style="min-height:170px;">
    <div class="fl register_left">
        <form action="" method="post" name="registerform" id="registerform">
            <table class="table">
                <tr>
                    <td>
                        新的密码
                    </td>
                    <td>
                        <div>
                            <input style="width:290px;" class="si-form-field" type="text" name="password" value="" placeholder="请输入密码" data-rule="required;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        确认密码
                    </td>
                    <td>
                        <div>
                            <input style="width:290px;" class="si-form-field" type="text" name="repassword" value="" placeholder="请输入密码" data-rule="required;">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>

                    </td>
                    <td>
                        <div class="">
                            <input class="register_btn" class="btn" type="submit" name="" value="修改密码">
                        </div>
                        <p class="err_msg"></p>
                    </td>
                </tr>
            </table>

            <input type="hidden" name="code" value="{:I('code')}">
            <input type="hidden" name="id" value="{:I('id')}">
        </form>
    </div>
    <div class="fr register_right">
        <p>已有商城账号？</p>
        <p><a  class="c_f8" href="/Home/User/login.html" title="">直接登录</a></p>
    </div>
    <div class="clear"></div>
</div>