<include file='Home@User:public' />


<div class="" style="    width: 900px;
    float: left;
    margin: 0 10px;">
        <if condition="$userinfo neq null ">
            <p>姓名:</p>
            <b>{$userinfo.name}</b><br>
            <p>卡号:</p>
            <span>{$userinfo.cardid}</span><br>
            <p>手机号:</p>
            <span>{$userinfo.phone}</span>

            <else />
                <p>姓名:</p>
                <input type="text" placeholder="请输入你的姓名" name="name">
                <p>卡号:</p>
                <input type="text" placeholder="请输入你的卡号" name="cardid">
                <p>电话:</p>
                <input type="text" placeholder="请输入你的电话" name="phone">
                <br>
                <input type="submit" value="添加" onclick="newaddress()">

        </if>

</div>

<script>
    function newaddress(){
        var $newaddress = $('#newaddress');
        $.post('/Home/User/userinfo', {
            'addressid': $newaddress.find('[name="addressid"]').val(),
            'name': $newaddress.find('[name="name"]').val(),
            'cardid': $newaddress.find('[name="cardid"]').val(),
            'phone': $newaddress.find('[name="phone"]').val(),
        }, function(data){
            if (data.error)  {
                layer.alert(data.error);
            }else{
                location.reload();
            }
        }, 'json');
    }


</script>